[Desktop Entry]
Type=Application
Name=Melodarium
GenericName=Music and Podcast Player
GenericName[pt_BR]=Player de música e podcast
Comment=Play a local music library and follow podcasts
Comment[pt_BR]=Ouça sua biblioteca local e acompanhe podcasts
Exec=melodarium
Icon=io.github.pedronalis.melodarium
Terminal=false
StartupNotify=true
Categories=AudioVideo;Audio;Player;
Keywords=music;audio;podcast;playlist;mpv;
Keywords[pt_BR]=música;áudio;podcast;playlist;mpv;
